@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

/* 
////// For this challenge ///////

- All text is in the text.md file

// Requirements
1. Refer to the design specs for the
   overall layout 
2. The image should line up with
   the sidebar in the section
   below

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

a{
  margin: 0;  
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #23424a;
  font-weight: 900;
  background-color: #38cfd9;
  padding: 0.75em 2em;
  border-radius: 100px;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  /* display: flex => flex container */
  display: flex;
  justify-content: space-between;

  /* can't use yet */
  /* gap: 100px; */
}

.col {
  /* these are now flex items */
  width: 100%;
}

.col + .col {
  margin-left: 30px;
}

header {
  background: #136c72;
  padding: 1em 0;
}

.logo{
  margin-right: 1em;
}

.nav {
  display: flex;
  justify-content: space-between;
  /* width: 100%;      can be done to move sign in sign up on right, and other on right, else use flex grow */
  flex-grow: 1; /*  enabling growing*/
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;


}

/* it puts margin left only of a nav item has another nav item before it. home doesnt have nav item before it, so no space is given */
.nav__item + .nav__item {
  margin-left: 1em;
}

/* to push sign in and sign up button to the right, you can do this trick! give this class to to only sign in and it will push sign up as well */
/* .nav__item--push-right{
  margin-left: auto;
} */

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link--button {
  background: #fff;
  color: #136c72;
  padding: 0.25em 1em;
  border-radius: 10em;
}

.nav__link:hover {
  opacity: 0.75;
}

.hero {
  padding: 100px 0;
  background-color: #23424a;
  color: #fff;
}

.hero__text {
  width: 62%;
}

.hero__img {
  width: 32%;
  align-self: flex-start;
}

.hero p {
  margin-bottom: 3em;
}

.primary-content {
  width: 62%;
}

.main {
  margin-top: 2rem;
}

.section-title {
  color: #136c72;
}

.sidebar {
  width: 32%;
  background-color: #136c72;
  color: white;
  text-align: center;
  padding: 1.2rem;
}
